$slider-size: 1;
$slider-width: 100%;
$slider-height: 500px;
$slider-position: 0, 0;
$slider-margin: 0 0 0 0;
$slider-padding: 0 0 0 0;

$slider-offset: -100%; //* Default
$slide-group-offset: -100%;
$slider-transition: all ease 0.5s;

$carousel-card-width: 100%;
$opacity-enter: 0;

@mixin pagination {
  position: absolute;
  z-index: 1003;
  width: 100%;
  left: 50%;
  top: -32px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  @include px(250) {
    display: none;
  }
  &.dark {
    .pagination-dot {
      /*border: 2px solid getColor(secondary);*/
      border: 2px solid getColor(sldpag);

      &.active {
        background-color: getColor(sldpag);
      }
    }

    .imageslider-options {
      position: relative;
      z-index: 12;
      width: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      right: 5px;
      top: 10px;
      margin-right: 10px;

      svg {
        fill: getColor(sldpag);
        /* transition: all ease 0.3s; */
      }

      button {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .slider-menu {
    position: relative;
    z-index: 1002;
    width: 20px;
    height: 20px;
    z-index: 9999;
    top: 0;
    @include sliderbtn();
    @include slidermenu();
    direction: rtl;
    margin-left: 10px;

    svg {
      fill: red;
    }
  }

  .card-options {
    margin-right: 10px;

    .fullstop-slider {
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 20px;
        fill: getColor(sldpag);
      }
    }

    .play {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;

      svg {
        fill: getColor(sldpag);
      }
    }
  }

  .dots {
    display: flex;
    padding: 10px;

    @include px(1024) {
      padding: 7px;
    }

    .pagination-dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      /*border: 2px solid getColor(sldpag);*/
      border: 2px solid getColor(sldpag);
      cursor: pointer;
      /* transition: background-color 0.5s ease-in-out; */

      &.active {
        background-color: getColor(sldpag);
        border: none;
      }
    }
  }
}
@mixin carousel-arrow {
  .carousel-arrow {
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 100%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    /* transition: opacity ease 0.3s, transform ease 0.3s, fill ease 0.3s; */

    @include px(884) {
      position: absolute;
    }
    @include px(420) {
      width: 20px;
    }
    p {
      opacity: 0;
      width: 0;
      height: 0;
      visibility: hidden;
    }
    svg {
      width: 20px;
      height: 20px;
      fill: getColor(slidearr);
      opacity: 0.5;
      /* transition: opacity ease 0.3s, transform ease 0.3s, fill ease 0.3s,
        border ease 0.3s; */
      @include px(420) {
        width: 15px;
        height: 15px;
      }
    }

    &.prev {
      z-index: 5;
      margin-left: 0px;
      left: 0;

      @include px(884) {
        position: absolute;
        left: 0;
        width: 60px;
        height: 250px;
        border-radius: 50%;

        /* &:hover svg {
          //border: 2px solid getColor(cardarrhover);
        } */

        svg {
          border-radius: 50%;
          //border: 2px solid getColor(cardarr);
          opacity: 0.5;
          width: 32px;
          height: 32px;
          padding: 5px;
          @include px(320) {
            width: 20px;
            height: 20px;
          }
        }
      }
      @include px(420) {
        width: 50px;
        left: -10px;
      }
      @include px(320) {
        width: 20px;
        left: 2px;
      }
      svg {
        transform: rotate(180deg);
        fill: getColor(slidearr);

        &:hover svg {
          opacity: 1;
          //fill: getColor(cardarrhover);
          transform: scale(1.3) rotate(180deg);
        }
      }
    }

    &.next {
      right: 0;
      z-index: 5;
      margin-left: -10px;
      /* transition: border ease 0.3s; */

      @include px(884) {
        position: absolute;
        right: 0;
        width: 60px;
        height: 250px;

        svg {
          border-radius: 50%;
          //border: 2px solid getColor(cardarr);
          fill: getColor(slidearr);
          opacity: 0.5;
          width: 32px;
          height: 32px;
          padding: 5px;
          @include px(320) {
            width: 20px;
            height: 20px;
          }
        }

        /* &:hover svg {
          //border: 2px solid getColor(cardarrhover);
        } */
      }
      @include px(420) {
        width: 50px;
        right: -10px;
      }
      @include px(320) {
        width: 20px;
        right: 2px;
      }
      &:hover svg {
        opacity: 1;
        fill: getColor(cardarrhover);
        transform: scale(1.3);
      }
    }
  }
}
@mixin carousel-arrow-circle {
  .carousel-arrow {
    position: absolute;
    z-index: 5;
    width: 50px;
    height: 100%;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    /* transition: opacity ease 0.3s, transform ease 0.3s, fill ease 0.3s; */

    @include px(884) {
      position: absolute;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: getColor(slidearr);
      opacity: 0.5;
      /* transition: opacity ease 0.3s, transform ease 0.3s, fill ease 0.3s,
        border ease 0.3s; */
    }

    &.prev {
      z-index: 5;
      margin-left: -13px;
      left: 0;

      @include px(884) {
        position: absolute;
        left: 0;
        width: 60px;
        height: 250px;
        border-radius: 50%;

        /* &:hover svg {
          //border: 2px solid getColor(cardarrhover);
        } */

        svg {
          border-radius: 50%;
          //border: 2px solid getColor(cardarr);
          opacity: 0.5;
          width: 32px;
          height: 32px;
          padding: 5px;
        }
      }

      svg {
        transform: rotate(180deg);
        fill: getColor(slidearr);

        &:hover svg {
          opacity: 1;
          //fill: getColor(cardarrhover);
          transform: scale(1.3) rotate(180deg);
        }
      }
    }

    &.next {
      right: 0;
      z-index: 5;
      margin-right: -13px;
      /* transition: border ease 0.3s; */

      @include px(884) {
        position: absolute;
        right: 0;
        width: 60px;
        height: 250px;

        svg {
          border-radius: 50%;
          //border: 2px solid getColor(cardarr);
          fill: getColor(slidearr);
          opacity: 0.5;
          width: 32px;
          height: 32px;
          padding: 5px;
        }

        /* &:hover svg {
          //border: 2px solid getColor(cardarrhover);
        } */
      }

      &:hover svg {
        opacity: 1;
        fill: getColor(cardarrhover);
        transform: scale(1.3);
      }
    }
  }
}
@mixin circle-progress-bar {
  .clock-timer {
    position: absolute;
    top: -5px;
    left: 0px;
    z-index: 5000;
    transform: rotate(-90deg);
    &.gap {
      left: -5px;
    }
    @include px(420) {
      left: -15px;
      top: -15px;
    }
    svg {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      width: 60px;
      @include px(420) {
        transform: scale(0.6);
      }
      #circle1 {
        position: relative;
        fill: none;
        stroke: none;
        stroke-width: 11;
      }

      #circle2 {
        position: relative;
        fill: none;
        stroke: #ffe6af;
        stroke-width: 11;
      }
    }
  }
}
@mixin progress-bar {
  position: absolute;
  z-index: 9999;
  left: 0px;
  height: 5px;
  width: 100%;
  margin-inline: auto;

  .progress-bar {
    left: 50%;
    height: 100%;
    width: 0%;
    //box-shadow: 10px -11px 25px 6px rgba(255, 255, 255, 0.7);
    background-color: getColor(sldprg);
    /* transition: all 1s linear; */
  }
}
@mixin touch-jump {
  @keyframes jump {
    0% {
      transform: translate(50%, -50%);
    }

    50% {
      transform: translate(40%, 70%);
    }

    100% {
      transform: translate(50%, -50%);
    }
  }

  position: absolute;
  z-index: 1;
  top: 0px;
  right: 15px;
  width: 50px;
  height: 50px;
  min-width: 70px;
  min-height: 70px;
  fill: getColor(touchcard);
  transform: rotate(0deg);
  /* transition: all ease 0.2s;
  animation: jump 1.5s infinite; */
}

@mixin cards-container {
  .cards-container {
    position: relative;
    width: calc(85% + 1vw);
    padding-top: 50px;

    @include px(1024) {
      width: 100%;
    }
    @include px(250) {
      padding-top: 5px;
    }
    margin-inline: auto;
    /* transition: all ease 0.3s; */

    .progress-bar-container {
      @include progress-bar();
    }

    .cards-wrapper {
      position: relative;
      width: 100%;

      .cards-component {
        position: relative;
        width: 100%;

        .pagination {
          @include pagination();
        }

        .cards {
          @include circle-progress-bar();

          @include cards();
        }
        
      }
    }
  }
}

@mixin cards {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin card-carousel {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
  z-index: 2;
  &.cardflex {
    @include px(600) {
      transform: none;
      left: unset;
    }
  }
  &:hover {
    .touch {
      opacity: 0;
      visibility: hidden;
    }
  }

  //! transition: $slider-transition;

  .touch {
    @include touch-jump();
  }
}
@mixin carousel {
  .card-carousel {
    @include card-carousel();

    .carousel-arrow.hidden {
      display: none;
    }

    @include card();
  }
}

@mixin card {
  $card-radius: 1%;

  &.card {
    top: 0px;
    width: $carousel-card-width;

    .carousel-slides {
      @include carousel-slides();
      padding: 0;
      &.card {
        .carousel-slide-group {
          @include carousel-slide-group();

          @include card-opacity();

          .card {
            @include card-style();

            @include cardResponsive();
          }
        }
      }
    }

    &.closed {
      padding: 0;
      @include carousel-slides-closed();
    }
    &.gap {
      .carousel-slides {
        .carousel-slide-group {
          .card {
            transform: scale(0.95);

            &.active {
              transform: scale(1) translateX(0.5%);
              margin-right: 0.5%;
              margin-left: 0.5%;
            }

            &.active:hover {
              transform: scale(1.02) translateX(0%);
            }
          }
        }
      }
    }
  }

  &.gap {
    .carousel-slides {
      .carousel-slide-group {
        .card {
          transform: scale(0.95);

          &.active {
            transform: scale(1) translateX(0.5%);
            margin-right: 0.5%;
            margin-left: 0.5%;
          }

          &.active:hover {
            transform: scale(1.02) translateX(0%);
          }
        }
      }
    }
  }

  @include carousel-arrow();
}

//! Card
@mixin carousel-slider {
  .card-carousel {
    position: relative;
    z-index: 2;
    padding: 0px 70px;

    .carousel-arrow.hidden {
      display: none;
    }

    @include carousel-arrow();
    @include slider();
  }
}

@mixin carousel-slide-group {
  position: relative;
  transform: translate(calc(-100% / 3 - 2px), 0);
  display: flex;
  cursor: pointer;
}

@mixin carousel-slides {
  position: relative;
  width: 99.5%;
  object-fit: cover;
  right: 50%;
  display: flex;
  padding: 20px 0px;
  justify-content: right;
  align-items: center;
  transform: translateX(50%);
}

@mixin card-style {
  $card-radius: 1%;
  position: relative;
  width: 100%;
  transform: scale(1);
  flex: 0 0 calc(calc(100%) / 6);
  height: 80%;
  cursor: pointer;
  min-width: 250px;
  background: blue;
  border-radius: $card-radius;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: 50% 50%;
  z-index: 1;
  box-shadow: 0px 0px 15px 0px rgba(232, 248, 92, 0.2);
  transition: all ease 0.3s;

  &.active {
    opacity: 1;
    z-index: 2;
    transform: scale(1) translateX(0);
    height: 80%;

    .card-wrapper {
      overflow: hidden;

      .card-container {
        .carousel-content {
          
        }

        .boxshadow {
          
        }
      }
    }
  }

  &:hover {
    transform: scale(0.96);
    z-index: 200;
    .card-wrapper {
      .card-container {
        .carousel-content {
          
        }
      }
    }
  }

  .card-wrapper {

    .card-container {
      .carousel-content {
      }
    }

    .circle-container {
    }
  }

  &.active:hover {
    transform: scale(1) translateX(0);
  }
}

@mixin card-opacity {
  @include px(1650) {
    transform: translate(calc(-100% / 2.5 - 1px), 0);

    div:nth-child(n + 9) {
      opacity: 0;
    }

    div:nth-child(10) {
      opacity: 1;
      /* transition: transform ease 0.5s, opacity ease 1.4s; */
    }
  }

  @include px(1366) {
    transform: translate(calc(-100% / 2 - 2px), 0);

    div:nth-child(n + 8) {
      opacity: 0;
    }

    div:nth-child(9) {
      opacity: 1;
      /* transition: transform ease 0.5s, opacity ease 1.4s; */
    }
  }

  @include px(1024) {
    transform: translate(calc(-100% / 1.5 - 0px), 0);

    div:nth-child(n + 7) {
      opacity: 0;
    }

    div:nth-child(8) {
      opacity: 1;
      /* transition: transform ease 0.5s, opacity ease 1.4s; */
    }
  }

  @include px(600) {
    transform: translate(calc(-100% / 1 - 0px), 0);

    div:nth-child(n + 6) {
      opacity: 0;
    }

    div:nth-child(7) {
      opacity: 1;
      /* transition: transform ease 0.5s, opacity ease 1.4s; */
    }
  }

  @include px(480) {
    transform: translate(calc(-200% / 1 - 3px), 0);

    div:nth-child(n + 5) {
      opacity: 0;
    }

    div:nth-child(6) {
      opacity: 1;
      /* transition: transform ease 0.5s, opacity ease 1.4s; */
    }
  }
}

@mixin cardResponsive {
  @include px(1650) {
    flex: 0 0 calc(calc(100%) / 5);
  }

  @include px(1366) {
    flex: 0 0 calc(calc(100%) / 4);
  }

  @include px(1024) {
    flex: 0 0 calc(calc(100%) / 3);
  }

  @include px(600) {
    flex: 0 0 calc(calc(100%) / 2);
  }

  @include px(480) {
    flex: 0 0 calc(calc(100%) / 1);
  }
}

@mixin carousel-slides-closed {
  .carousel-slide-group > div:first-child {
    opacity: 0;
  }

  .carousel-slide-group {
    transform: translate(calc(-100% / 6));

    div:nth-child(n + 9) {
      opacity: 0;
    }

    div:nth-child(1) {
      opacity: 0;
    }
    div:last-child {
      opacity: 1;
    }

    @include px(1650) {
      transform: translate(calc(-100% / 5));

      div:nth-child(n + 7) {
        opacity: 0;
      }

      /* div:last-child {
        opacity: 0;
        transition: transform ease 0.5s, opacity ease .1s;
      } */
    }

    @include px(1366) {
      transform: translate(calc(-100% / 4));

      div:nth-child(n + 6) {
        opacity: 0;
      }

      /*  div:last-child {
        opacity: 1;
        transition: transform ease 0.5s, opacity ease 1.4s;
      } */
    }

    @include px(1024) {
      transform: translate(calc(-100% / 3));

      div:nth-child(n + 5) {
        opacity: 0;
      }

      /* div:last-child {
        opacity: 1;
        transition: transform ease 0.5s, opacity ease 1.4s;
      } */
    }

    @include px(600) {
      transform: translate(calc(-100% / 2));

      div:nth-child(n + 4) {
        opacity: 0;
      }

      /* div:last-child {
        opacity: 1;
        transition: transform ease 0.5s, opacity ease 1.4s;
      } */
    }

    @include px(480) {
      transform: translate(calc(-200%));

      div:nth-child(n + 4) {
        opacity: 0;
      }

      & > div:nth-child(2) {
        opacity: 0;
      }

      /* div:last-child {
        opacity: 1;
        transition: transform ease 0.5s, opacity ease 1.4s;
      } */
    }
  }
}

//! Slide
@mixin slider {
  &.slider {
    position: relative;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin: $slider-margin;
    margin-inline: auto;
    padding: $slider-padding;
    transform: scale($slider-size) translate($slider-position);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: height ease 0.3s;
    

    .carousel-wrapper {
      position: relative;
      width: 100%;
      transform: translateX($slider-offset);

      .carousel-slides {
        position: relative;
        .carousel-slide-group {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: space-between;
          cursor: pointer;
          /* transform: translateX($slide-group-offset) scale(1); */
          

          .slide {
            @include slide();
          }
        }
      }
    }

    &.progressBar {
      .carousel-wrapper {
        .carousel-slides {
          .carousel-slide-group {
            .slide {
              border-top-left-radius: 0px;
              border-top-right-radius: 0px;
            }
          }
        }
      }
    }
  }

  &.closed {
    padding: 0;
    /* overflow: hidden; */

    .carousel-wrapper {
      .carousel-slides {
        .carousel-slide-group {
          transform: translateX(-100%) scale(1); // <-- OVDE TREBA STAVITI NA 0% UKOLIKO JE currentSlide = 0 // default -100%
          transform-origin: 150% 50%;

          .slide {
            transform: scale(1);

            /* &:nth-child(1) > :not(.active) {
              opacity: 1;
            }

            &:nth-child(2) > :not(.active) {
              opacity: 1;
            } */
            &:nth-child(2) > :not(.active) {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            }

            &:nth-child(4) > :not(.active) {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            }
            backdrop-filter: blur(0);
            /* &:nth-child(1)> :not(.active) {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            } */
            /*  &:nth-child(1) {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            }

            &:nth-child(2) {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            }

            &:nth-child(4)> :not(.active) {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            }

            &:last-child {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;
            } */
          }
        }
      }
    }
  }

  &.gap {
    padding: 0;

    .carousel-wrapper {
      .carousel-slides {
        .carousel-slide-group {
          transform: translateX(-100%) scale(1); // <-- OVDE TREBA STAVITI NA 0% UKOLIKO JE currentSlide = 0 // default -100%
          transform-origin: 150% 50%;

          .slide {
            transform: scale(0.99);
          }
        }
      }
    }

    &.closed {
      .carousel-wrapper {
        .carousel-slides {
          .carousel-slide-group {
            .slide {
              transform: scale(0.99);
            }
          }
        }
      }
    }
  }
}

@mixin slide {
  position: relative;
  cursor: pointer;
  border-radius: 12px;
  height: 400px;
  background: red;
  overflow: hidden;
  transform: scale(1);
  flex: 0 0 calc(calc(100%) / 1);
  cursor: context-menu;
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transition: all ease .3s;

  /* transition: width ease 0.5s, height ease 0.2s, transform ease 0.3s,
    opacity ease 0.3s, top ease 0.3s; */

  &:nth-child(1) > :not(.active) {
    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }

  &:nth-child(2) > :not(.active) {
    opacity: 1;
    visibility: visible;
    pointer-events: none;
  }

  &:first-child {
    opacity: 1;
    /* transition: all ease 0.55s; */
  }

  &:last-child {
    /* transition: all ease 0.55s; */
  }

  @include slideall();
}

@mixin slideall() {
  &.slide {
    &.active {
      opacity: 1;

      .card-wrapper {
        .card-container {
          .carousel-show {
          }

          .carousel-content {
          }
        }
      }
    }

    &:hover {
      .card-wrapper {
        .card-container {
          .slideup-con {
          }

          .carousel-content {
          }
        }
      }
    }

    .card-wrapper {
      .card-container {
        .carousel-show {
        }

        .carousel-content {
        }
      }
    }
  }
}
