@mixin fadeInDown($duration, $easeing, $delay) {
    @-webkit-keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    -webkit-animation: $duration $easeing $delay 1 fadeInDown;
    animation: $duration $easeing $delay 1 fadeInDown;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@mixin fadeInDownBig($duration, $easeing, $delay) {
    @-webkit-keyframes fadeInDownBig {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    @keyframes fadeInDownBig {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, -2000px, 0);
            transform: translate3d(0, -2000px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    -webkit-animation: $duration $easeing $delay 1 fadeInDownBig;
    animation: $duration $easeing $delay 1 fadeInDownBig;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@mixin fadeInUp($duration, $easeing, $delay) {
    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    animation: $duration $easeing $delay 1 fadeInUp;
    -webkit-animation: $duration $easeing $delay 1 fadeInUp;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@mixin moveUp($duration, $easeing, $delay) {
    @-webkit-keyframes moveUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0) scale(.8);
            transform: translate3d(0, 100%, 0) scale(.8);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0) scale(.9);
            transform: translateZ(0) scale(.9);
        }
    }

    @keyframes moveUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0) scale(.8);
            transform: translate3d(0, 100%, 0) scale(.8);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0) scale(.9);
            transform: translateZ(0) scale(.9);
        }
    }

    animation: $duration $easeing $delay 1 moveUp;
    -webkit-animation: $duration $easeing $delay 1 moveUp;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
@mixin fadeInUpBig($duration, $easeing, $delay) {
    @-webkit-keyframes fadeInUpBig {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 200px, 0);
            transform: translate3d(0, 200px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    @keyframes fadeInUpBig {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 300px, 0);
            transform: translate3d(0, 300px, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }
    
    -webkit-animation: $duration $easeing $delay 1 fadeInUpBig;
    animation: $duration $easeing $delay 1 fadeInUpBig;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@mixin fadeInRight($duration, $easeing, $delay) {
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    -webkit-animation: $duration $easeing $delay 1 fadeInRight;
    animation: $duration $easeing $delay 1 fadeInRight;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@mixin fadeInLeft($duration, $easeing, $delay) {
    @-webkit-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    animation: $duration $easeing $delay 1 fadeInLeft;
    -webkit-animation: $duration $easeing $delay 1 fadeInLeft;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}

@mixin fadeIn($duration, $easeing, $delay) {
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    animation: $duration $easeing $delay 1 fadeIn;
    -webkit-animation: $duration $easeing $delay 1 fadeIn;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}


@mixin fadeInRight($duration, $easeing, $delay) {
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }

    @keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
        }
    }



    -webkit-animation: $duration $easeing $delay 1 fadeInRight;
    animation: $duration $easeing $delay 1 fadeInRight;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}


