//* Krece da se smanjuje od 720px
$f-size1: clamp(80%, 40% + 1.5vw, 115%);
$f-size2: clamp(75%, 40% + 1.5vw, 105%);

//* Nav Mixins
$upnav-height: 30px;
$nav-height: 40px;

//* Upnav ~ krece da se smanjuje oko/od 1024px
$up-increment: 32px;
$up-decrement: 2.5vw;
$up-minw: 19px;
$up-maxw: 24px;

//* Nav Tools
$tools-increment: 32px;
$tools-decrement: 2.5vw;
$tools-minw: 24px;
$tools-maxw: 26px;

$base-width: 1.5vw;
$decrement: 0.5vw;
$min-width: 24px;
$max-width: 40px;

@mixin cloud-modal($top) {
  position: absolute;
  z-index: 9998;
  top: $top;
  opacity: 0;
  visibility: hidden;
  transition: top ease 0.22s, opacity ease-out 0.2s, visibility ease 0.2s;
}
@mixin active-cloud-modal($top-active) {
  top: $top-active;
  opacity: 1;
  visibility: visible;
}

@mixin hideBtn {
  opacity: 0;
  width: 0;
  margin: 0;
  height: 0;
}
@mixin flex-full($j-content, $a-items, $f-direction) {
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;
  flex-direction: $f-direction;
}
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-custom($j-content, $a-items) {
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;
}
@mixin align-items($a-items) {
  display: flex;
  align-items: $a-items;
}

@mixin toggleButton() {
  $toggleButton: (
    "light": (
      tglbtn: #ffffff,
      tglbs: #d6ad6b80,
      tglin: $font2,
    ),

    "dark": (
      tglbtn: #111111,
      tglbs: #262626,
      tglin: $font2dark,
    ),
  );
  $width: 35px;
  $height: 20px;
  $s-height: 16px;
  position: relative;
  width: 100%;
  height: $height;
  @include flex-custom(flex-start, flex-start);
  @include setColors($toggleButton);

  .span {
    width: $width;
    height: $height;
    position: relative;
    padding: 0px 1px;

    background: clr(tglbtn);
    border-radius: 33px;
    font-weight: 500;
    box-shadow: 1px 2px 10px 1px clr(tglbs);
    transition: all ease-out 0.15s;
    display: flex;
    justify-content: flex-end;
  }
  &:hover {
    .span {
      box-shadow: 0px 0px 15px 3px clr(tglbs);
    }
    //transform: scale(.97);
  }
  &.active {
    .span {
      box-shadow: 0px 0px 15px 3px clr(tglbs);
      transform: scale(1.05);
      span {
        transform: translate(-100%, -50%);
      }
    }
    .p-one-two {
      padding: 0px 8px;
      width: 100%;

      display: flex;
      align-items: center;
      p {
        text-align: left;
        font-size: $f-size2;
        .one {
          transform: translate(-200%, -50%);
          opacity: 0;
        }
        .two {
          transform: translate(-100%, -50%);
          opacity: 1;
        }
      }
    }
  }
  .span {
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(0%, -50%);
      width: $width - 18px;
      height: $width - 18px;
      border-radius: 50%;
      min-height: 10px;
      min-width: 10px;
      background: clr(tglin);
      transition: all ease 0.3s;
    }
  }
  .p-one-two {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    padding: 0px 8px;
    width: 100%;
    line-height: $height - 5px;
    p {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-100%, -50%);
      white-space: nowrap;
      color: clr(tglin);
      transition: all ease 0.2s;
      @include flex-center();
      &.one {
        transform: translate(-100%, -50%);
        opacity: 1;
      }
      &.two {
        transform: translate(-150%, -50%);
        opacity: 0;
      }
    }
  }

  &.right {
    .p-one-two {
      width: 100%;
      @include align-items(flex-start);

      p {
        text-align: left;
        font-size: $f-size2;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(100%, -50%);
        white-space: nowrap;
        color: clr(tglin);

        &.one {
          transform: translate($width + 7px, -50%);
          opacity: 1;
        }
        &.two {
          transform: translate(100%, -50%);
          opacity: 0;
        }
      }
    }

    &.active {
      .p-one-two {
        width: 100%;
        @include align-items(center);
        p {
          @include flex-center();
          &.one {
            transform: translate(200%, -50%);
            opacity: 0;
          }
          &.two {
            transform: translate($width + 7px, -50%);
            opacity: 1;
          }
        }
      }
    }
  }

  &.rel {
    @include flex-full(flex-start, flex-start, row-reverse);
    .p-one-two {
      position: relative;
      /* overflow: auto hidden; */
      @include align-items(center);
      p {
        direction: ltr;
        position: relative;
        text-align: left;
        font-size: $f-size2;
        padding-right: 0px;
        white-space: wrap;
        color: clr(tglin);
        transform: translateX(0%);
        @include flex-custom(flex-start, center);

        &.one {
          transform: translateX(0%);
          opacity: 1;
          height: auto;
          width: auto;
          white-space: wrap;
          transition: opacity ease 0.2s, width ease 0.3s, height ease 0.1s,
            transform ease 0.2s, white-space ease 0.1s;
          transition-delay: 0s, 0s, 0s, 0s, 0s;
        }
        &.two {
          transform: translateX(100%);
          @include hideBtn();
          white-space: nowrap;
          transition: opacity ease 0.3s, width ease 0.2s, height ease 0.1s,
            transform ease 0.2s, white-space ease 0.1s;
          transition-delay: 0s, 0s, 0s, 0s, 0s;
        }
      }
    }
    &.active {
      .span {
        span {
          transform: translate(-100%, -50%);
        }
      }
      .p-one-two {
        p {
          justify-content: flex-start;
          &.one {
            transform: translateX(100%);
            @include hideBtn();
            white-space: nowrap;
            transition: opacity ease 0.2s, width ease 0.1s, height ease 0.1s,
              transform ease 0.2s, white-space ease 0.1s;
            transition-delay: 0s, 0s, 0s, 0s, 0s;
          }
          &.two {
            transform: translate(0);
            opacity: 1;
            width: auto;
            height: $height;
            white-space: wrap;
            transition: opacity ease 0.2s, width ease 0.3s, height ease 0.1s,
              transform ease 0.2s, white-space ease 0.1s;
            transition-delay: 0s, 0s, 0s, 0s, 0s;
          }
        }
      }
    }

    &.right {
      flex-direction: row;
      &.active {
        .span {
          span {
            transform: translate(-100%, -50%);
          }
        }
      }
    }
  }
  @include px(600) {
    .span {
      height: $s-height;

      span {
        width: $s-height - 3px;
        height: $s-height - 3px;
      }
    }
    .p-one-two {
      height: $s-height;
      line-height: $s-height - 2;
      p {
        height: auto;
      }
    }

    &.rel {
      &.right {
        .p-one-two {
          align-items: baseline;
          height: auto;
          p {
            height: auto;
          }
        }
        &.active {
          .p-one-two {
            height: auto;
            p {
              height: auto;
            }
          }
        }
      }
    }
  }
  @include px(500) {
    .span {
      height: $s-height;

      span {
        width: $s-height - 3px;
        height: $s-height - 3px;
      }
    }
    .p-one-two {
      height: $s-height;
      line-height: $s-height - 5;

      p {
        height: auto;
        white-space: nowrap;
      }
    }

    &.rel {
      &.right {
        .p-one-two {
          align-items: baseline;
          height: auto;
          p {
            height: auto;
          }
        }
        &.active {
          .p-one-two {
            height: auto;
            p {
              height: auto;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

@mixin social-btn() {
  position: relative;
  margin-top: 20px;
  margin-left: 15px;
  color: clr(font-primary-light);
  @include flex-center();
  @include px(1024) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 0;
    margin-inline: auto;
    gap: 3px;
  }
  .link-btn {
    gap: 15px;
    @include flex-center();
    @include px(1024) {
      flex-direction: column;
    }
    .link-to {
      position: relative;
      padding: 5px 15px;

      font-size: clamp(70%, 50% + 1.1vw, 110%);
      border-radius: 33px;
      color: white;
      margin-left: 0px;
      gap: 10px;
      box-shadow: 0 0 0 0 #7ccdff00;
      transform: scale(1);

      background: linear-gradient(215deg, #95d572, #5edbf8);
      background-size: 200% 200%;
      -webkit-animation: link-to-bg-anime 8s ease infinite,
        pulsating 2s infinite;
      -moz-animation: link-to-bg-anime 8s ease infinite, pulsating 2s infinite;
      -o-animation: link-to-bg-anime 8s ease infinite, pulsating 2s infinite;
      animation: link-to-bg-anime 8s ease infinite, pulsating 2s infinite;
      animation: link-to-bg-anime 8s ease infinite, pulsating 2s infinite;
      @include flex-center();

      @include px(1024) {
        font-size: clamp(130%, 100% + 1.5vw, 230%);
        border-radius: 50px;
        padding: 6px 15px;
        gap: 15px;
      }

      .ig-icon {
        fill: white;
        height: 25px;
        width: 25px;
        @include px(1024) {
          height: 30px;
          width: 30px;
        }
      }

      .dm-icon {
        position: absolute;
        top: -10px;
        right: -5px;
        width: 18px;
        height: 18px;
        background: #7dc4fd;
        border-radius: 50%;
        @include flex-center();
        @include px(1024) {
          width: 30px;
          height: 30px;
          top: -15px;
        }
        svg {
          position: absolute;
          fill: white;
          height: 12px;
          width: 12px;
          top: 50%;
          left: 50%;
          transform: translate(-55%, -45%);
          @include flex-center();
          @include px(1024) {
            height: 17px;
            width: 17px;
          }
        }
      }

      p {
        color: white;
        font-size: clamp(70%, 50% + 1.1vw, 110%);
      }

      .touch-container {
        position: absolute;
        bottom: 50%;
        left: unset;
        right: 0%;
        transform: translate(30%, 50%);
        @include px(1024) {
          transform: translate(30%, 60%);
        }
        &.left {
          right: unset;
          left: 0;
          transform: translate(-200%, 60%);
          @include px(1024) {
            left: unset;
            right: 0;
            transform: translate(30%, 70%);
          }
          .touch-arrow-click {
            #touch-click-left {
              opacity: 0;
              visibility: hidden;
              display: none;
              @include px(1024) {
                opacity: 0;
                visibility: hidden;
                display: none;
              }
            }
            #touch-click-right {
              opacity: 0;
              visibility: hidden;
              display: none;
              @include px(1024) {
                opacity: 1;
                visibility: visible;
                display: block;
              }
            }
            #mouse-click {
              transform: rotate(0deg);
            }
          }
        }
        .touch-arrow-click {
          fill: clr(primary);
          transform: translate(-50%, 60%);
          @include touchStay();

          #touch-click-left {
            width: 50px;
            height: 50px;
          }
          #touch-click-right {
            width: 50px;
            height: 50px;
          }
          #mouse-click {
            width: 35px;
            height: 35px;
            transform: rotate(290deg);
            fill: clr(primary);
          }

          #touch-click-left {
            opacity: 0;
            visibility: hidden;
            display: none;
            @include px(1024) {
              opacity: 0;
              visibility: hidden;
              display: none;
            }
          }
          #touch-click-right {
            opacity: 0;
            visibility: hidden;
            display: none;
            @include px(1024) {
              opacity: 1;
              visibility: visible;
              display: block;
            }
          }
          #mouse-click {
            opacity: 1;
            visibility: visible;
            display: block;
            @include px(1024) {
              opacity: 0;
              visibility: hidden;
              display: none;
            }
          }
        }
      }

      .press-here {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 100%);
        font-size: 70%;
        white-space: nowrap;
        background: linear-gradient(215deg, #95d572, #5edbf8);
        -webkit-background-clip: text;
background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 120% 120%;
        -webkit-animation: link-to-bg-anime 8s ease infinite;
        -moz-animation: link-to-bg-anime 8s ease infinite;
        -o-animation: link-to-bg-anime 8s ease infinite;
        animation: link-to-bg-anime 8s ease infinite;
        animation: link-to-bg-anime 8s ease infinite;

        @include px(1024) {
          font-size: 45%;
        }
        @include px(600) {
          font-size: 55%;
          display: none;
        }
      }
    }
    .book {
      @include px(1024) {
        margin-top: 0px;
        font-size: clamp(70%, 50% + 1.1vw, 110%);
      }
    }
  }
}

//* Sections
$section-increment: 32px;
$section-decrement: 2.5vw;
$section-minw: 80%;
$section-maxw: 95%;
@mixin sections($width, $padding, $margin) {
  position: relative;
  width: $width;
  height: 100%;
  overflow: hidden;
  padding: $padding;
  margin: $margin;
  max-height: $section-maxw;
  min-height: $section-minw;
  margin-inline: auto;
  /* border: 1px solid green; */
}
@mixin allSections() {
  position: relative;
  width: 100%;
  padding: 50px 0px;
}

