

//* Krece da se smanjuje od 720px
$f-size1: clamp(80%, 40% + 1.5vw, 115%);
$f-size2: clamp(75%, 40% + 1.5vw, 105%);

//* Nav Mixins
$upnav-height: 30px;
$nav-height: 40px;

//* Upnav ~ krece da se smanjuje oko/od 1024px
$up-increment: 32px;
$up-decrement: 2.5vw;
$up-minw: 19px;
$up-maxw: 24px;

//* Nav Tools
$tools-increment: 32px;
$tools-decrement: 2.5vw;
$tools-minw: 24px;
$tools-maxw: 26px;

$base-width: 1.5vw;
$decrement: 0.5vw;
$min-width: 24px;
$max-width: 40px;

@mixin cloud-modal($top) {
  position: absolute;
  z-index: 9998;
  top: $top;
  opacity: 0;
  visibility: hidden;
  transition: top ease 0.22s, opacity ease-out 0.2s, visibility ease 0.2s;
}
@mixin active-cloud-modal($top-active) {
  top: $top-active;
  opacity: 1;
  visibility: visible;
}

@mixin hideBtn {
  opacity: 0;
  width: 0;
  margin: 0;
  height: 0;
}
@mixin flex-full($j-content, $a-items, $f-direction) {
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;
  flex-direction: $f-direction;
}
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-custom($j-content, $a-items) {
  display: flex;
  justify-content: $j-content;
  align-items: $a-items;
}
@mixin align-items($a-items) {
  display: flex;
  align-items: $a-items;
}
@mixin locale() {
  $locale-bg: #fff;
$locale-dot: #fff;
$locale-font: $font;
$locale-font-hover: #fff;
$locale-font-active: #fff;
$locale-btn: #fff;
$locale-btn-hover: #c17255;
$locale-btn-active: #9f6049;

$locale-bg-dark: #fff;
$locale-dot-dark: #fff;
$locale-font-dark: #fff;
$locale-font-hover-dark: #ffffff;
$locale-font-active-dark: #fff;
$locale-btn-dark: #fff;
$locale-btn-hover-dark: #c17255;
$locale-btn-active-dark: #9f6049;

$locale: (
  "light": (
    locale-bg: $locale-bg,
    locale-dot: $locale-dot,
    locale-font: $locale-font,
    locale-font-hover: $locale-font-hover,
    locale-font-active: $locale-font-active,
    locale-btn: $locale-btn,
    locale-btn-hover: $locale-btn-hover,
    locale-btn-active: $locale-btn-active,
  ),

  "dark": (
    locale-bg: $locale-bg-dark,
    locale-dot: $locale-dot-dark,
    locale-font: $locale-font-dark,
    locale-font-hover: $locale-font-hover-dark,
    locale-font-active: $locale-font-active-dark,
    locale-btn: $locale-btn-dark,
    locale-btn-hover: $locale-btn-hover-dark,
    locale-btn-active: $locale-btn-active-dark,
  ),
);
  .locales {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include setColors($locale);
    &.sr .locale-btn {
      background-image: url("@/assets/img/lang/sr.webp");
    }
    &.ru .locale-btn {
      background-image: url("@/assets/img/lang/ru.webp");
    }
    &.en .locale-btn {
      background-image: url("@/assets/img/lang/en.webp");
    }
    &.de .locale-btn {
      background-image: url("@/assets/img/lang/de.webp");
    }
    &.it .locale-btn {
      background-image: url("@/assets/img/lang/it.webp");
    }
    &.tr .locale-btn {
      background-image: url("@/assets/img/lang/tr.webp");
    }
    &.fr .locale-btn {
      background-image: url("@/assets/img/lang/fr.webp");
    }
    &.cn .locale-btn {
      background-image: url("@/assets/img/lang/cn.webp");
    }
    &.es .locale-btn {
      background-image: url("@/assets/img/lang/es.webp");
    }
  
    .circle {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: clr(locale-dot);
      width: calc(20px + $tools-increment - $tools-decrement);
      height: calc(20px + $tools-increment - $tools-decrement);
      min-width: $tools-minw + 3px;
      max-width: $tools-maxw + 3px;
      min-height: $tools-minw + 3px;
      max-height: $tools-maxw + 3px;
      opacity: 0;
      visibility: hidden;
      transition: all ease 0.3s;
    }
    &.active {
      .circle {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .locale-btn {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all ease 0.2s;
  }
  .locales-cloud-modal {
    padding: 10px;
    background: clr(app);
    box-shadow: 0px 0px 20px 0px rgba($color: #888888, $alpha: 0.3);
    border-radius: 13px;
    gap: 4px;
    @include cloud-modal(150px);
    @include flex-full(space-between, center, column);
    button {
      width: 100%;
      white-space: nowrap;
      padding: 5px 38px;
      border-radius: 9px;
      transform: scale(1) translateX(0px);
      transition: all ease 0.2s;
      @include flex-full(space-between, center, row);
      &:hover {
        color: clr(locale-font-hover);
        background: clr(locale-btn-hover);
        padding: 5px 8px 5px 18px;
        transform: scale(0.955) translateX(0px);
      }
      &::before {
        content: "";
        position: absolute;
        left: 9px;
        top: 50%;
        transform: translate(0%, -50%) scale(0);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: clr(locale-dot);
        opacity: 0;
        visibility: hidden;
        transition: all ease 0.3s;
      }
      &.active {
        padding: 10px 10px 10px 35px;
        color: clr(locale-font-active);
        background: clr(locale-btn-active);
        &::before {
          opacity: 1;
          visibility: visible;
          transform: translate(60%, -50%) scale(1);
        }
      }
    }
  }
  .locales.active .locales-cloud-modal {
    @include active-cloud-modal($nav-height + 3px);
  }
}


@mixin social-btn() {
  position: relative;
  margin-top: 20px;
  margin-left: 15px;
  color: clr(font-primary-light);
  @include flex-center();
  @include px(1024) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 0;
    margin-inline: auto;
    gap: 3px;
  }
  .link-btn {
    gap: 15px;
    @include flex-center();
    @include px(1024) {
      flex-direction: column;
    }
    .link-to {
      position: relative;
      padding: 5px 15px;

      font-size: clamp(70%, 50% + 1.1vw, 110%);
      border-radius: 33px;
      color: white;
      margin-left: 0px;
      gap: 10px;
      box-shadow: 0 0 0 0 #7ccdff00;
      transform: scale(1);

      background: linear-gradient(215deg, #95d572, #5edbf8);
      background-size: 200% 200%;
      -webkit-animation: link-to-bg-anime 8s ease infinite,
        pulsating 2s infinite;
      -moz-animation: link-to-bg-anime 8s ease infinite, pulsating 2s infinite;
      -o-animation: link-to-bg-anime 8s ease infinite, pulsating 2s infinite;
      animation: link-to-bg-anime 8s ease infinite, pulsating 2s infinite;
      animation: link-to-bg-anime 8s ease infinite, pulsating 2s infinite;
      @include flex-center();

      @include px(1024) {
        font-size: clamp(130%, 100% + 1.5vw, 230%);
        border-radius: 50px;
        padding: 6px 15px;
        gap: 15px;
      }

      .ig-icon {
        fill: white;
        height: 25px;
        width: 25px;
        @include px(1024) {
          height: 30px;
          width: 30px;
        }
      }

      .dm-icon {
        position: absolute;
        top: -10px;
        right: -5px;
        width: 18px;
        height: 18px;
        background: #7dc4fd;
        border-radius: 50%;
        @include flex-center();
        @include px(1024) {
          width: 30px;
          height: 30px;
          top: -15px;
        }
        svg {
          position: absolute;
          fill: white;
          height: 12px;
          width: 12px;
          top: 50%;
          left: 50%;
          transform: translate(-55%, -45%);
          @include flex-center();
          @include px(1024) {
            height: 17px;
            width: 17px;
          }
        }
      }

      p {
        color: white;
        font-size: clamp(70%, 50% + 1.1vw, 110%);
      }

      .touch-container {
        position: absolute;
        bottom: 50%;
        left: unset;
        right: 0%;
        transform: translate(30%, 50%);
        @include px(1024) {
          transform: translate(30%, 60%);
        }
        &.left {
          right: unset;
          left: 0;
          transform: translate(-200%, 60%);
          @include px(1024) {
            left: unset;
            right: 0;
            transform: translate(30%, 70%);
          }
          .touch-arrow-click {
            #touch-click-left {
              opacity: 0;
              visibility: hidden;
              display: none;
              @include px(1024) {
                opacity: 0;
                visibility: hidden;
                display: none;
              }
            }
            #touch-click-right {
              opacity: 0;
              visibility: hidden;
              display: none;
              @include px(1024) {
                opacity: 1;
                visibility: visible;
                display: block;
              }
            }
            #mouse-click {
              transform: rotate(0deg);
            }
          }
        }
        .touch-arrow-click {
          fill: clr(primary);
          transform: translate(-50%, 60%);
          @include touchStay();

          #touch-click-left {
            width: 50px;
            height: 50px;
          }
          #touch-click-right {
            width: 50px;
            height: 50px;
          }
          #mouse-click {
            width: 35px;
            height: 35px;
            transform: rotate(290deg);
            fill: clr(primary);
          }

          #touch-click-left {
            opacity: 0;
            visibility: hidden;
            display: none;
            @include px(1024) {
              opacity: 0;
              visibility: hidden;
              display: none;
            }
          }
          #touch-click-right {
            opacity: 0;
            visibility: hidden;
            display: none;
            @include px(1024) {
              opacity: 1;
              visibility: visible;
              display: block;
            }
          }
          #mouse-click {
            opacity: 1;
            visibility: visible;
            display: block;
            @include px(1024) {
              opacity: 0;
              visibility: hidden;
              display: none;
            }
          }
        }
      }

      .press-here {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 100%);
        font-size: 70%;
        white-space: nowrap;
        background: linear-gradient(215deg, #95d572, #5edbf8);
        -webkit-background-clip: text;
background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 120% 120%;
        -webkit-animation: link-to-bg-anime 8s ease infinite;
        -moz-animation: link-to-bg-anime 8s ease infinite;
        -o-animation: link-to-bg-anime 8s ease infinite;
        animation: link-to-bg-anime 8s ease infinite;
        animation: link-to-bg-anime 8s ease infinite;

        @include px(1024) {
          font-size: 45%;
        }
        @include px(600) {
          font-size: 55%;
          display: none;
        }
      }
    }
    .book {
      @include px(1024) {
        margin-top: 0px;
        font-size: clamp(70%, 50% + 1.1vw, 110%);
      }
    }
  }
}

//* Sections
$section-increment: 32px;
$section-decrement: 2.5vw;
$section-minw: 80%;
$section-maxw: 95%;
@mixin sections($width, $padding, $margin) {
  position: relative;
  width: $width;
  height: 100%;
  overflow: hidden;
  padding: $padding;
  margin: $margin;
  max-height: $section-maxw;
  min-height: $section-minw;
  margin-inline: auto;
  /* border: 1px solid green; */
}
@mixin allSections() {
  position: relative;
  width: 100%;
  padding: 50px 0px;
}

