*,*::before,*::after{margin:0;padding:0;box-sizing:border-box;}
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

@font-face {
  font-display: swap;
  font-family: 'Lilita One';
  font-weight: 400;
  src: url('/static/fonts/LilitaOne-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Passion One';
  font-weight: 900;
  src: url('/static/fonts/PassionOne-Black.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Passion One';
  font-weight: 700;
  src: url('/static/fonts/PassionOne-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Passion One';
  font-weight: 400;
  src: url('/static/fonts/PassionOne-Regular.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 900;
  src: url('/static/fonts/Poppins-Black.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 700;
  src: url('/static/fonts/Poppins-Bold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 800;
  src: url('/static/fonts/Poppins-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-weight: 600;
  src: url('/static/fonts/Poppins-SemiBold.woff2') format('woff2');
}

html {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
}
body {
  position: relative;
    width: 100%;
    height: 100%;
}

html{font-family: 'Poppins', sans-serif; font-size: 100%;width: 100%;height: 100%;}
button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif; 
    font-size: 100%;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

a {
  text-decoration: none;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  color: clr(font);
}
.disabled-link {
  pointer-events: none !important;
  cursor: not-allowed !important;
}
.link {
  &.disabled-link {
    pointer-events: none !important;
    cursor: not-allowed !important;
  }
  .disabled-link {
    pointer-events: none !important;
    cursor: not-allowed !important;
  }
}
/* .page {
  @include fadeInRight(0.3s, ease, none);
} */
.page-enter-active,
.page-leave-active {
  transition: ease 0.3s;
}

.page-enter-to {
  right: 0%;
  opacity: 1;
}

.page-enter-from {
  right: -100%;
  opacity: 0.8;
}

.page-leave-to {
  left: -150%;
  opacity: 0.5;
}

.page-leave-from {
  left: 0%;
  opacity: 1;
}








