$font: #8c473e;
$fontdark: #fff;

$font-primary: #c17255;
$font-primary-light: #dc9176;
$font-primary-light2: #814037;
$font-primary-green: #7aaa5f;

$font2: #3d3d3d;
$font2dark: #2292e2;

$primary: #fff;
$primary2: #c17255;
$primary-green: #5ef88c;
$secondary: #0b0b0b;

$svg-primary: #9f6049;
$svg-primaryactive: #dc9176;
$tools-svg-primary: #dc9176;
$tools-svg-primaryactive: #c17255;


$themefill-svg-primary: #c17255;
$themefill-svg-primaryactive: #dc9176;

$themes: (
    "light": (
        primary: $primary2,
        font: $font,
        font-primary: $font-primary,
        font-primary-light: $font-primary-light,
        font-primary-light2: $font-primary-light2,
        font-primary-green: $font-primary-green,
        primary-green: $primary-green,
        app: $primary
    ),

    "dark": (
        font: $fontdark,
        app: $secondary
    ),
);

@function clr($color-name) {
    @return var(--color-#{$color-name});
}
@mixin setColors($themes) {
    @each $theme, $theme-map in $themes {
        .#{$theme} & {
            @include setThemeColors($theme-map);
        }
    }
}
@mixin setThemeColors($theme-map) {
    @each $name, $color in $theme-map {
        --color-#{$name}: #{$color};
    }
}

@mixin themeStyles($theme) {
    @include setThemeColors(map-get($themes, $theme));
    --theme: #{$theme};
}



html,.app,.app-viewport {
    &.light {
        @include themeStyles("light");
    }

    &.dark {
        @include themeStyles("dark");
    }
}